@media only screen and (min-width: 32.5em) {
    /* Color Scheme*/
    
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header img {
        width: 120px;
    }
    
    h1, h2, h3, h4 {
        font-family:'Atma', cursive;
    }
    
    .headings h1 {
        font-size: 2.5rem;
    }
    
    .headings p {
        font-size: 1rem;
        margin-top: -30px;
    } 

    .navigation {
        display: flex;
        align-items: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
        flex: 1 1 100%;
        border-left: 1px solid rgba(0,0,0,0.2);
        height: inherit;
    }
    
    .responsive li {
        border-top: 0;
    }
    
}