body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 300px;
    margin: 120px auto;    
    box-shadow: 8px 8px 8px #628ca6;
    
}

table, th, td, caption {
    border: 1px solid #c2c2c2;
    padding: 7px 10px 7px 10px;
    font-size: 1rem;
}


table {
    width: 300px;
    text-align: center;
    border-collapse: collapse;
}

caption {    
    font-size: 1.7rem;
    font-weight: bolder;
    background-color: #7fb9c2;
}

tbody {
    background-color: #e4ffed;
    border: 1px solid #628ca6;
}

tbody tr:nth-child(odd) td {
    background-color: #e7f0ed;
}

th{
    background-color: #628ca6;
    color: #ffffff;
}
td {
    padding: 7px 10px 7px 10px;
}

tfoot td {
    background-color: #7fb9c2;
    font-size: 0.8rem;
    font-weight: bold;
}

.highlight {
    background-color: #628ca6;
    color: #e7f0ed;
}
